<!DOCTYPE html>
<html>
  <head>
    <title>THIS IS A TITLE</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
  </head>
  <body>
    <!-- insert shit here -->
    <p>YOUR USERNAME IS: {{username}}</p>
    <p>YOUR PASSWORD IS: {{password}}</p>
    <form action="/logout" method="post">
      <button type="submit" value="logout">logout</button>
    </form>
    <script src="functions.js"></script>
  </body>
</html>
