<!DOCTYPE html>
<html>
  <head>
    <title>LOGIN PAGE</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
  </head>
  <body>
    <!-- insert shit here -->
    <h1>I AM AN H1</h1>
    <form action="/login" method="post">
      <input type='text' name='username' placeholder='username'></input>
      <input type='text' name='password' placeholder="password"></input>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
